@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@400;500;600&family=Source+Code+Pro&display=swap');
body {
  margin: 0;
  font-family: "Poppins";
  background-color: aliceblue;
}

 @media only screen and (min-width: 280px) and (max-width: 767px)  {
  .container {
   height: 100vh;
   background-color: white;
  }

  .img-container {
    background-color: black;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .h1-container {
   
  }

  .img-signup {
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.3;
  }

  .form-container {
    background-color: white;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .form-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    padding: 60px;
    border-radius: 20px;
  }

  .form-flex-container h1, p {
    width: 80%;
    margin-bottom: 20px;
  }

  .login {
    font-size: 3rem;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 0.5px solid lightslategray;
  }

  label {
    margin-top: 20px;
    width: 100%;
  }

  .signup-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: springgreen;
    border-radius: 5px;
  }

  .signup-button:hover {
    background-color: black;
    color: springgreen;
    cursor: pointer;
  }

  h1 {
    margin: 0;
    width: 320px;
  }

  p {
    margin: 0;
    width: 320px;
  }

  .account {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  span {
    color: dodgerblue;
    white-space: pre;
  }

  title {
    color: dodgerblue;
  }

  .img-h1 {
    margin: 0;
    font-size: 3rem;
    color: white;
  }
}


 @media only screen and (min-width: 768px) and (max-width: 1199px)  {
  .container {
    height: 100vh;
    display: flex;
    background-color: white;
  }

  .img-container {
    background-color: black;
    position: relative;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h1-container {
    display: flex;
    position: absolute;
  }

  .img-signup {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  .form-container {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .form-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    padding: 60px;
    border-radius: 20px;
  }

  .form-flex-container h1, p {
    width: 80%;
    margin-bottom: 20px;
  }

  .login {
    font-size: 2.5rem;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 0.5px solid lightslategray;
  }

  label {
    margin-top: 20px;
    width: 100%;
  }

  .signup-button {
    width: 320px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: springgreen;
    border-radius: 5px;
  }

  .signup-button:hover {
    background-color: black;
    color: springgreen;
    cursor: pointer;
  }

  h1 {
    margin: 0;
    width: 320px;
  }

  p {
    margin: 0;
    width: 320px;
  }

  .account {
    margin: 0;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  span {
    color: dodgerblue;
    white-space: pre;
  }

  title {
    color: dodgerblue;
  }

  .img-h1 {
    margin: 0;
    font-size: 3rem;
    color: white;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    height: 100vh;
    display: flex;
    background-color: white;
  }

  .img-container {
    background-color: black;
    position: relative;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h1-container {
    display: flex;
    position: absolute;
  }

  .img-signup {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  .form-container {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    padding: 60px;
    border-radius: 20px;
  }

  .form-flex-container h1, p {
    width: 80%;
    margin-bottom: 20px;
  }

  .login {
    font-size: 3rem;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 0.5px solid lightslategray;
  }

  label {
    margin-top: 20px;
    width: 100%;
  }

  .signup-button {
    width: 320px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: springgreen;
    border-radius: 5px;
  }

  .signup-button:hover {
    background-color: black;
    color: springgreen;
    cursor: pointer;
  }

  h1 {
    margin: 0;
    width: 320px;
  }

  p {
    margin: 0;
    width: 320px;
  }

  .account {
    margin: 0;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  span {
    color: dodgerblue;
    white-space: pre;
  }

  title {
    color: dodgerblue;
  }

  .img-h1 {
    margin: 0;
    font-size: 3.5rem;
    color: white;
  }
}
