@media only screen and (max-width: 767px) {
  .home-container {
    background-color:aliceblue;
    margin: 0;
  }

  .header {
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
  }

  .img-main {
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .header-h1 {
    color: white;
    font-size: 3rem;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
  }

  .main-container {
    border-radius: 10px;
    background-color: #0e1b23;
    width: 90%;
    height: 400px;
  }

  .h1-container {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
  }

  .assess-container {
    overflow: scroll;
    width: 100%;
    height: 80%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headings {
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headings span {
    font-size: 0.65rem;
  }

  h5,
  h3 {
    display: flex;
    align-items: center;
    color: white;
    margin: 0;
    margin-right: 10px;
    white-space: pre;
  }

  .card-description {
    color: white;
    font-size: 0.75rem;
    width: 80%;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .card {
    border-radius: 10px;
    position: relative;
    width: 90%;
    background-color: #182933;
    padding-bottom: 20px;
  }

  .button-assess {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    font-size: 0.7rem;
    margin-right: 20px;
    margin-left: 10px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: springgreen;
    color: black;
    width: 60px;
  }

  .button-assess:hover {
    background-color: white;
    color: black;
  }

  .profile {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #0e1b23;
    height: 500px;
    width: 90%;
  }

  .profile-card {
    margin-top: 30px;
    width: 80%;
    height: 70%;
    border-radius: 10px;
    background-color: #182933;
  }

  .profile-title {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
    display: inline-block;
    word-wrap: break-word;
    width: 90%;
  }

  .h1-container-profile {
    top: 0;
    left: 0;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .button-profile {
    width: 80px;
    font-size: 0.7rem;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: springgreen;
    color: black;
  }

  .button-profile:hover {
    background-color: white;
    color: black;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .home-container {
    background-color: aliceblue;
    margin: 0;
  }

  .header {
    display: flex;
    position: relative;
    width: 100%;
    height: 150px;
  }

  .img-main {
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .header-h1 {
    color: white;
    font-size: 3rem;
    position: absolute;
    bottom: 10px;
    left: 50px;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
  }

  .main-container {
    border-radius: 10px;
    background-color: #0e1b23;
    width: 90%;
    height: 400px;
  }

  .h1-container {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
  }

  .assess-container {
    overflow: scroll;
    width: 100%;
    height: 80%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headings {
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headings span {
    font-size: 0.65rem;
  }

  h5,
  h3 {
    display: flex;
    align-items: center;
    color: white;
    margin: 0;
    margin-right: 20px;
    white-space: pre;
  }

  .card-description {
    color: white;
    font-size: 0.75rem;
    width: 80%;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .card {
    border-radius: 10px;
    position: relative;
    height: 120px;
    width: 650px;
    background-color: #182933;
  }

  .button-assess {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    font-size: 0.7rem;
    margin-right: 20px;
    margin-left: 10px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: springgreen;
    color: black;
    width: 60px;
  }

  .button-assess:hover {
    background-color: white;
    color: black;
  }

  .profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #0e1b23;
    height: 400px;
    width: 90%;
    margin-bottom: 20px;
  }

  .profile-card {
    margin-top: 30px;
    width: 80%;
    height: 70%;
    border-radius: 10px;
    background-color: #182933;
  }

  .profile-title {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
  }

  .h1-container-profile {
    top: 0;
    left: 0;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .button-profile {
    width: 80px;
    font-size: 0.7rem;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: springgreen;
    color: black;
  }

  .button-profile:hover {
    background-color: white;
    color: black;
  }
}

@media only screen and (min-width: 1200px) {
  .home-container {
    background-color: aliceblue;
    margin: 0;
    height: 100vh;
  }

  .header {
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
  }

  .img-main {
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .header-h1 {
    color: white;
    font-size: 3rem;
    position: absolute;
    bottom: 10px;
    left: 50px;
  }

  .main {
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
  }
  .main-container {
    border-radius: 10px;
    background-color: #0e1b23;
    width: 700px;
    height: 400px;
  }

  .h1-container {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
  }

  .assess-container {
    overflow: scroll;
    width: 100%;
    height: 80%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .headings {
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headings span {
    font-size: 0.65rem;
  }

  h5,
  h3 {
    display: flex;
    align-items: center;
    color: white;
    margin: 0;
    margin-right: 20px;
    white-space: pre;
  }

  .card-description {
    color: white;
    font-size: 0.75rem;
    width: 80%;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .card {
    border-radius: 10px;
    position: relative;
    height: 120px;
    width: 650px;
    background-color: #182933;
  }

  .button-assess {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    font-size: 0.7rem;
    margin-right: 20px;
    margin-left: 10px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: springgreen;
    color: black;
    width: 60px;
  }

  .button-assess:hover {
    background-color: white;
    color: black;
  }

  .profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #0e1b23;
    margin-left: 20px;
    height: 400px;
    width: 400px;
  }

  .profile-card {
    margin-top: 30px;
    width: 80%;
    height: 70%;
    border-radius: 10px;
    background-color: #182933;
  }

  .profile-title {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
  }

  .h1-container-profile {
    top: 0;
    left: 0;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .button-profile {
    width: 80px;
    font-size: 0.7rem;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: springgreen;
    color: black;
  }

  .button-profile:hover {
    background-color: white;
    color: black;
  }
}
