.results-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-card {
  border-radius: 20px;
  background-color: #182933;
  height: 500px;
  width: 500px;
}

.results-card h1 {
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}